.gpio-card {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.15s ease, border-color 0.15s ease;
  -ms-user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
   user-select:none;
}



.gpio-card:hover,
.gpio-card:focus,
.gpio-card:active {
  color: #0070f3;
  border-color: #0070f3;
}
