.thermometer {
    display: flex;
    flex-direction: column;
    width: 5em;
    padding: 3px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    background-color: antiquewhite;
    color:black;
}

.item {
    display: flex;
    align-items: center;
}

/* .item:nth-child(2) {
    margin-left: 0.5em;
} */

.icon {
    width: 1em;
    max-height: 1em;
}

.icon-container {
    width: 1em;
}

.error {
    border-color: rgb(255, 195, 195);
}