.container {
  display: flex;
  flex-direction: column;
}

.container header {
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs .text-field {
  margin-bottom: 1rem;
}

.hidden {
  visibility: hidden;
}

.inputs .actions {
}
